
html {
    box-sizing: border-box;
    font-size: 16px;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }
  body{
    margin: 0;
	overflow-x: hidden;
    padding: 0;
  }
pre {
    overflow-x: scroll;
}
